<section class="header">
    <figure>
        <img draggable="false" src="../../../assets/images/overlook-seurahuone.jpg" alt="header image">
    </figure>
    <app-headertext Text="RESERVATIONER"></app-headertext>
</section>
<main>
    <section class="container">
        <article class="left">
            <ul class="bread">
                <li><a routerLink="/">Hotel Overlook</a></li>
                <li><span>></span></li>
                <li><a routerLink="/resevation">Reservation</a></li>
                <li><span>></span></li>
                <li>
                    <p>Reserver dit foretrukne værelse</p>
                </li>
                <li><span>></span></li>
                <li>
                    <p>Tak for din reservation</p>
                </li>
            </ul>
            <header>
                <h2>Tak for din reservation</h2>
                <p class="descript">Vi takker for din reservation og ønsker dig et behageligt ophold på Hotel Overlook.
                </p>
                <a routerLink="/">Gå til forsiden</a>
            </header>

        </article>
        <div class="right">
            <h2>Betingelser</h2>

            <ul>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Reduceret pris - spar op til 25%.</p>
                </li>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Kan kun bookes online via Overlook website og app.</p>
                </li>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Bestil helt op til og med ankomstdagen.</p>
                </li>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Bookinger tilbagebetales ikke og kan ikke ændres eller
                        annulleres.</p>
                </li>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Beløbet debiteres kreditkort på reservationstidspunktet.</p>
                </li>
                <li><span><i class="fas fa-check"></i></span>
                    <p>Morgenmad er inkluderet.</p>
                </li>
            </ul>
        </div>
    </section>
</main>