<section class="header">
    <figure>
        <img draggable="false" src="../../../assets/images/overlook-victoria.jpg" alt="">
    </figure>
</section>
<main>
    <section class="container">
        <article class="left">
            <ul class="bread">
                <li><a routerLink="/">Hotel Overlook</a></li>
                <li><span>></span></li>
                <li><a routerLink="/">Find dit værelse</a></li>
                <li><span>></span></li>
                <li>
                    <p>Søgeresultater</p>
                </li>
            </ul>
            <header>
                <h2>Find dit værelse</h2>
            </header>
            <section class="left">
            </section>
        </article>
        <article class="right">
            Søge function
        </article>
    </section>
</main>