.header {
    figure {
        width: 100vw;

        img {
            width: 100vw;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
}


main {
    width: 80%;
    margin: 0 auto;

    @media(max-width: 1200px) {
        width: 90%;
    }

    @media(max-width: 1000px) {
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 4em;
        margin-bottom: 2em;

        @media(max-width: 1300px) {
            display: block;
        }

        h2 {
            margin: 1em 0;
            font-weight: 400;

        }

        .descript {
            padding-bottom: 1em;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        }


        .resevations {
            margin: 1em 0;

            article {

                padding: 1em;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1em;
                margin-bottom: 1em;

                div {
                    p {
                        font-weight: 300;
                    }

                    h4 {
                        font-weight: 400;
                    }

                    a {
                        display: block;
                        cursor: pointer;
                        text-decoration: none;
                    }

                    .green {
                        color: green;
                    }

                    .red {
                        color: red;
                    }
                }
            }
        }

        .right {
            margin: 1em 0;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            padding-left: 2em;

            @media(max-width: 1300px) {
                border: none;
                margin: 1em 0;
                padding: 0;
            }

            h4 {
                margin-bottom: 1em;
            }

            p {
                span {
                    font-weight: bold;
                }
            }

            a {
                display: block;
                margin: 1em 0;
                color: blue;
                text-decoration: none;
                cursor: pointer;
            }

            figure {
                width: 80%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.bread {
    display: flex;
    margin-top: 1em;

    li {
        list-style: none;

        a {
            color: #373535;
            text-decoration: none;
        }

        span {
            margin: 0 .5em;
        }

        p {
            color: #373535;
        }
    }
}