<footer>
    <section>
        <p>© 2019 Hotel Overlook. Alle rettigheder forbeholdt.</p>
        <div class="social">
            <span><i class="fab fa-twitter"></i></span>
            <span><i class="fab fa-facebook"></i></span>
        </div>
        <ul>
            <li><a routerLink="#">Hoteller og destinationer</a></li>
            <li><a routerLink="#">Værelser</a></li>
            <li><a routerLink="#">Reservation</a></li>
            <li><a routerLink="#">Om Overlook</a></li>
        </ul>
    </section>
</footer>