.header {
    figure {
        width: 100vw;

        img {
            width: 100vw;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
}

main {
    width: 80%;
    margin: 0 auto;

    @media(max-width: 1200px) {
        width: 90%;
    }

    @media(max-width: 1000px) {
        width: 100%;
    }

    .countrys {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
        margin-bottom: 2em;
        border-bottom: 1px solid white;

        a {
            user-select: none;
            padding: .5em;
            margin: 0 .5em;
            color: red;
            text-decoration: none;
            color: #373535;

        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
            top: 0;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-radius: 100px / 10px;

        }

        &:after {
            right: 10px;
            left: auto;
            transform: skew(8deg) rotate(3deg);
        }
    }



    .bread {
        display: flex;

        li {
            list-style: none;

            a {
                color: #373535;
                text-decoration: none;
            }

            span {
                margin: 0 .5em;
            }

            p {
                color: #373535;
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 4em;
        margin-bottom: 2em;

        @media(max-width: 1300px) {
            display: block;
        }

        .left {
            a {
                color: #373535;
                text-decoration: none;
            }

            h2 {
                margin: 1em 0;
                font-weight: 400;

            }

            .descript {
                padding-bottom: 1em;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

            }



            // Citys
            .citys {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                margin-top: 1em;


                article {
                    cursor: pointer;

                }


                figure {
                    width: 100%;

                    img {
                        border-radius: 4px;
                        width: 100%;
                        height: 200px;
                        object-fit: cover;

                    }
                }

                h3 {
                    margin: 1em 0 .5em 0;
                    font-weight: 400;
                }

                p {
                    font-weight: 300;

                    height: 70px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .right {
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            padding-left: 2em;

            @media(max-width: 1300px) {
                border: none;
                margin: 1em 0;
                padding: 0;
            }

            figure {
                width: 80%;

                @media(max-width: 1300px) {
                    width: 50%;

                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.active {
    font-weight: bold;
}