.header {
    figure {
        width: 100vw;

        img {
            width: 100vw;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
}

main {
    width: 80%;
    margin: 0 auto;

    @media(max-width: 1200px) {
        width: 90%;
    }

    @media(max-width: 1000px) {
        width: 100%;
    }

    .countrys {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
        margin-bottom: 2em;
        border-bottom: 1px solid white;

        a {
            user-select: none;
            padding: .5em;
            margin: 0 .5em;
            color: red;
            text-decoration: none;
            color: #373535;

        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
            top: 0;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-radius: 100px / 10px;

        }

        &:after {
            right: 10px;
            left: auto;
            transform: skew(8deg) rotate(3deg);
        }
    }



    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 4em;
        margin-bottom: 2em;

        a {
            color: #373535;
            text-decoration: none;
        }

        h2 {
            margin: 1em 0;
            font-weight: 400;

        }

        .descript {
            padding-bottom: 1em;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        }

        .left {
            article {
                transition: all 200ms ease-in-out;

                figure {
                    transition: all 200ms ease-in-out;

                    img {
                        transition: all 200ms ease-in-out;
                    }
                }
            }

            .default {
                background-color: white;
                display: grid;
                grid-template-columns: 30% 70%;
                padding: 1em;
                gap: 1em;
                margin: 1em 0;

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .smallImages {
                    display: none;
                }

                .facilitiesContainer {
                    display: none;
                }

                .normalContainer {
                    h4 {
                        display: none;
                    }

                    .change {
                        display: none;

                    }

                    button {
                        display: none;
                    }
                }

                .flexContainer {
                    display: none;

                    h4 {
                        display: none;
                    }

                    div {
                        button {
                            display: none;
                        }
                    }
                }

                div {
                    width: 90%;

                    h3 {
                        font-weight: 400;
                    }

                    .size {
                        margin: 1em 0;
                    }

                    h4 {
                        margin: 1em 0;
                        text-align: end;
                    }
                }

                .booking {
                    grid-column: 1 / span 2;

                    .normalContainer {
                        div {
                            transform: translateY(-2em);
                            display: inline-block;
                            text-align: right;
                            color: red;

                            .from {
                                font-weight: bold;
                                font-size: 1.2em;
                            }

                            .price {
                                font-weight: bold;
                                font-size: 1.2em;
                            }
                        }
                    }
                }


                #ShowMore {
                    grid-column: 1 / span 2;
                    background: none;
                    border: none;
                    color: #959595;
                    width: 40%;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }

            .open {
                background-color: white;
                display: block;
                padding: 1em;
                gap: 1em;
                margin: 1em 0;
                transition: all 200ms ease-in-out;

                .main_image {
                    width: 100%;
                    height: 400px;



                    img {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;

                    }
                }

                .top {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin: 1em 0;

                    div {
                        h3 {
                            margin-bottom: 1em;
                        }
                    }

                    .small_images {
                        display: flex;
                        gap: 1em;
                        justify-self: end;


                        .smallImages {
                            width: 100px;
                            height: 64px;

                            img {
                                width: 100%;
                                height: 60px;
                                object-fit: cover;
                            }
                        }
                    }

                }

                .description {
                    margin: 1em 0;
                }

                .facilitiesHeader {
                    margin: 1em 0;
                }

                .booking {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1em;

                    section {
                        padding: 1em;
                        background-color: #ebebeb;

                        div {
                            display: flex;

                            p {
                                .price {
                                    font-size: 1.5em;
                                    font-weight: bold;
                                }

                                .from {
                                    display: none;
                                }
                            }

                            button {
                                margin-left: auto;
                                background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(236, 0, 0, 1) 100%);
                                padding: .7em 3em;
                                border-radius: 4px;
                                color: white;
                                border: none;
                                box-shadow: 0 2px 0 #810a0a;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .facilities {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1em;
                    margin-bottom: 1em;

                    p {
                        span {
                            color: green;
                            font-size: 1.2em;
                            margin-right: 1em;
                        }
                    }
                }

                #ShowMore {
                    grid-column: 1 / span 2;
                    width: 100%;
                    background: none;
                    border: none;
                    color: #959595;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }
    }

    .active {
        font-weight: bold;
    }
}

.bread {
    display: flex;

    li {
        list-style: none;

        a {
            color: #373535;
            text-decoration: none;
        }

        span {
            margin: 0 .5em;
        }

        p {
            color: #373535;
        }
    }
}